@import "../shared/colors.css";

.SpotlyUI-divider {
    position: relative;
    background-color: var(--spotly-ui-light-500);
    margin: 0;
    border: none;
}

/* Variant */
.SpotlyUI-divider--variant-fullWidth {
    width: 100%;
}
.SpotlyUI-divider--variant-middle {
    width: 50%;
    margin: 0 auto;
}
/* Thickness */
.SpotlyUI-divider--thickness-thin {
    height: 0.0625rem;
}
.SpotlyUI-divider--thickness-thick {
    height: 0.125rem;
}

/* Orientation */
.SpotlyUI-divider--orientation-horizontal {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.SpotlyUI-divider--orientation-vertical {
    height: inherit;
    width: 0.0625rem;
    display: inline-block;
}

/* Text align */
.SpotlyUI-divider--textAlign-left .SpotlyUI-divider-content {
    position: absolute;
    transform: translateY(-50%);
    left: 5%;
}
.SpotlyUI-divider--textAlign-center .SpotlyUI-divider-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.SpotlyUI-divider--textAlign-right .SpotlyUI-divider-content {
    position: absolute;
    transform: translateY(-50%);
    right: 5%;
}

/* Content */
.SpotlyUI-divider-content {
    display: inline-block;
    position: absolute;
    padding: 0 0.5rem;
    top: 50%;
    background-color: var(--spotly-ui-default-dark);
}
